<script type="text/javascript">
    $(document).ready(function () {
        $("#ifDemoOutput").hide();

        $("#btnUrl").click(function () {
            //$("#formSource").submit();
            //PedamorfDemo.convert("url", $("#txtUrl").val());
        });

        $("#btnHtml").click(function () {
            ///$("#formSource").submit();
            //PedamorfDemo.convert("html", $("#txtHtml").val());
        });

        $("#btnFile").click(function () {
            //var ifUpload = $('<iframe id="ifUpload" name="ifUpload">');
            //ifUpload.load(function () { PedamorfDemo.convert("file", "true"); });
            //ifUpload.appendTo("body");
            //$("#formSource").attr("target", "ifDemoOutput");
            //$("#formSource").submit();
        });

        $('#ifDemoOutput').load(function () {
            $(".pending").hide();
            $(".output").show();
        });
    });

    var PedamorfDemo = {
        convert: function (queryKey, queryValue) {
            $("#initial").hide();
            $(".output").hide();
            $(".pending").show();
            $("#ifDemoOutput").attr("src", encodeURI("ConversionHandler.ashx?host=" + $("#txtServiceHost").val() + "&" + queryKey + "=" + queryValue));
            $("#downloadLink").attr("href", encodeURI("ConversionHandler.ashx?download=true&host=" + $("#txtServiceHost").val() + "&" + queryKey + "=" + queryValue));
        }
    }
</script>
<div>
    <form action="/Demo/Convert" id="formSource" method="post" target="ifDemoOutput"
    enctype="multipart/form-data">
    <fieldset>
        <legend>Configuration</legend>
        <div>
            <label for="txtServiceHost">
                Service Host:</label>
            <input type="text" id="txtServiceHost" name="txtServiceHost" value="localhost" />
            <span><strong>Make sure the service is installed and running!</strong></span>
        </div>
    </fieldset>
    <fieldset>
        <legend>Demos</legend>
        <div class="demoFieldContainer">
            <label for="txtUrl">
                Url:</label>
            <input type="text" id="txtUrl" name="txtUrl" value="http://www.google.com" />
            <input type="submit" name="btnUrl" value="Convert" />
        </div>
        <div class="demoFieldContainer">
            <label for="txtUrl">
                Raw Html:</label>
            <textarea id="txtHtml" name="txtHtml" rows="2"><h1>My Header</h1><p>This is a test.</p></textarea>
            <input type="submit" name="btnHtml" value="Convert" />
        </div>
        <div class="demoFieldContainer">
            <label>
                Document:</label>
            <input type="file" id="upFile" name="upFile" />
            <input type="submit" name="btnFile" value="Convert" />
        </div>
    </fieldset>
    </form>
    <fieldset id="fsOutput">
        <legend>Output</legend>
        <div id="initial" class="centered">
            (Click Convert above)
        </div>
        <div id="loading" class="centered pending">
            <img src="../../Content/loader.gif" />
            <div>
                Converting...</div>
        </div>
        <iframe id="ifDemoOutput" class="output"></iframe>
        <a id="downloadLink" class="output">Download</a>
    </fieldset>
</div>
