/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body { background-color: #5c87b2; font-size: .85em; font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif; margin: 0; padding: 0; color: #696969; }

a:link { color: #034af3; text-decoration: underline; }

a:visited { color: #505abc; }

a:hover { color: #1d60ff; text-decoration: none; }

a:active { color: #12eb87; }

p, ul { margin-bottom: 20px; line-height: 1.6em; }

header, footer, nav, section { display: block; }

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { font-size: 1.5em; color: #000; }

h1 { font-size: 2em; padding-bottom: 0; margin-bottom: 0; }

h2 { padding: 0 0 10px 0; }

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

h5, h6 { font-size: 1em; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page { width: 90%; margin-left: auto; margin-right: auto; }

header, #header { position: relative; margin-bottom: 0px; color: #000; padding: 0; }

header h1, #header h1 { font-weight: bold; padding: 5px 0; margin: 0; color: #fff; border: none; line-height: 2em; font-size: 32px !important; text-shadow: 1px 1px 2px #111; }

#main { padding: 30px 30px 15px 30px; background-color: #fff; border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0; -moz-border-radius: 4px 0 0 0; }

footer, #footer { background-color: #fff; color: #999; padding: 10px 0; text-align: center; line-height: normal; margin: 0 0 30px 0; font-size: .9em; border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; }


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset { border: 1px solid #ddd; padding: 0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; }
legend { font-size: 1.2em; font-weight: bold; }
textarea { min-height: 75px; }
input[type="text"], input[type="password"], textarea { border: 1px solid #ccc; padding: 2px; font-size: 1.2em; color: #444; width: 200px; }
textarea { font-family: Trebuchet MS, Verdana, Helvetica, Sans-Serif; }
label { display: block; width: 100px; float: left; }
select { border: 1px solid #ccc; padding: 2px; font-size: 1.2em; color: #444; }
input[type="submit"] { font-size: 1.2em; padding: 5px; }
button {background-color: #5c87b2; color:White; border:solid 1px lightgray; padding:3px;}

